
  
  .links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .link {
    text-transform: capitalize;
  }


  .navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  .navbar img {
    max-width: 100px;
    height: auto;
  }
  
  .link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  